.scrollToTop-btn {
    width: 140px;
    height: 56px;
    overflow: hidden;
    border: none;
    color: #fff;
    background: none;
    position: relative;
    padding-bottom: 2em;
    cursor: pointer;
  }
  
  .scrollToTop-btn > div,
  .scrollToTop-btn > svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .scrollToTop-btn:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: currentColor;
    transition: transform 0.25s ease-out;
  }
  
  .scrollToTop-btn:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .scrollToTop-btn .clone > *,
  .scrollToTop-btn .text > * {
    opacity: 1;
    font-size: 1.3rem;
    transition: 0.2s;
    margin-left: 4px;
  }
  
  .scrollToTop-btn .clone > * {
    transform: translateY(60px);
  }
  
  .scrollToTop-btn:hover .clone > * {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  .scrollToTop-btn:hover .text > * {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  
  .scrollToTop-btn:hover .clone > :nth-child(1) {
    transition-delay: 0.15s;
  }
  
  .scrollToTop-btn:hover .clone > :nth-child(2) {
    transition-delay: 0.2s;
  }
  
  .scrollToTop-btn:hover .clone > :nth-child(3) {
    transition-delay: 0.25s;
  }
  
  .scrollToTop-btn:hover .clone > :nth-child(4) {
    transition-delay: 0.3s;
  }
  /* icon style and hover */
  .scrollToTop-btn svg {
    width: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-50deg);
    transition: 0.2s ease-out;
  }
  
  .scrollToTop-btn:hover svg {
    transform: translateY(-50%) rotate(-90deg);
  }
  